.app-div{
  background: tan;
  height: 100vh;
}

html, body{
  margin: 0px;
  padding: 15px;
}

.border-dark{
  border: 1px solid #212529!important;

}

.my-nav{
  top: 0 !important;
}

.sticky-top{
  top: 0;
  position: fixed;
  width: 100%;
}

.shadow-box{
  box-shadow: 20px 20px 50px grey !important;
}

body {
  background: fixed url(/src/imgs/attempt2.jpg);
  user-select: none;
  /* width: 10%; */
}

button {
  display: block;
  width: 50%;
  margin: auto;
}

.pokeList {
  display: flex;
  flex-wrap: wrap;

}

.poke-entry {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  
}

.poke-img {
  text-align: center;
  margin: 0 auto;
}

.poke-name, .poke-num {
  text-decoration: none;
}

.poke-card{
  margin: 1rem auto 1rem auto;
}

.evolution-chain{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

.too-big-img{
  max-height: 3rem !important;
  display: inline;
}

.arrow{
  width: 6rem;
}

.flex{
  display: flex;
  display: inline;
}

.first-tier-evolution, .second-tier-evolution, .third-tier-evolution{
  height: fit-content;
  margin: auto 1rem;
}
.second-tier-evolution{
  justify-content: space-around;
}

.shiny-div{
  display: flex;
  max-width: 55% ;
  margin: 0 auto;
  justify-content: space-between;
}

.shiny-card{
  margin: 0 1rem;
  text-align: center;
}

.btn {
  width: 100%;
}

.poke-list {
  margin-bottom: 1rem;
}

.center-div {
  margin: 1rem auto;
}

.one-line-desc{
  margin: 1rem auto;
  min-height: 3rem !important;
  justify-content: space-around;
  color: white;
  text-align: center;
}

.center-div-small-top-margin{
  margin: .25rem auto;
}

.fit-content{
  height: fit-content;
  max-width: fit-content;
}

.spinner {
  text-align: center;
  margin: 0 auto;
}

.locations {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.dmg-relations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.relation{
  text-align: center;
}

.relation {
  margin: 10px;
}



.location{
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.login {
  width: 40rem;
  margin: 20px auto;
}

.pokesearch {
  grid-row: 2;
  text-align: center;
}

.search {
  display: grid;
  grid-template-rows: 1rem, 1rem;
  margin: 2rem auto;
  max-width: 75%;
}

.fav-poke{
  display: flex;
  flex-wrap: wrap;
}

.bold{
  font-weight: bold;
  text-decoration: none;
}

.type, .ability{
  text-decoration: underline !important;
  text-align: center !important;
}

.ability-title, .move-title {
  text-align: center;
}

.poke-moves{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.home-logo{
  margin: 0 auto;

}
.move-list-on-pokemon{
  width: 18rem;
  text-align: center;
  margin-top: 2rem;
  justify-content: space-between;
}

.full-size-move{
  height: 100%;
}

.white-text{
  color: white;
  text-align: center;
}

.all-abilities{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-ability{
  width: 12rem;
  height: 4rem;
  text-align: center;
  justify-content: space-evenly;
  margin: 1rem 1rem;
}

.single-move{
  width: 12rem;
  text-align: center;
  height: 4rem;
  justify-content: space-evenly;
  margin: 1rem 1rem;

}

.ability-descriptor{
  height: 3rem;
  text-align: center;
  justify-content: space-around;
  color: white;
}

.big-descriptor{
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.single-type{
  margin: 1rem; 
  width: 12rem;
  height: 4rem;
  text-align: center;
  justify-content: space-around;
}

.all-types{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ability-search{
  max-width: 30rem;
  margin: 2rem auto;
}

.pokemon-search{
  max-width: 30rem;
  margin: 2rem auto;
  display: inline;
  margin-right: 1rem;
}

.search-and-filter{
  display: flex;
  vertical-align: middle;
}

.type-drop{
  max-width: 8rem;
  display: inline;
  margin: auto;
}

.dropdown{
  margin: auto;
  margin-left: 0;
}


/* /////////////// MOBILE RESPONSIVENESS ///////////////// */
 
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    
  }

 .nav-img{
   display: none;
 }

 .ability-search{
   margin: 2rem auto ;
   max-width: 14rem;
   
 }

 .all-abilities{
   display: inline;
 }

 .search{
   margin: 1rem auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .single-move, .single-ability{
   margin: 1rem auto;
 }

 .nav-img{
   display: none;
   width: 0;
   height: 0;
 }

 .no-padding{
   padding: 0 !important;
 }

 .home-logo{
   max-width: 75%;
 }

 .search-and-filter{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .pokemon-search{
   margin: 1rem auto;
 }

 .type-drop{
   margin: 0 auto;
 }

 .shiny-div{
   min-width: 80%;
 }

 .move-detail, .ability-detail{
   max-width: 90%;
 }

 .arrow{
   width: 3rem;
 }

} 