/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

button {
  display: block;
  width: 50%;
  margin: auto;
}

.pokeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
}
.poke-entry {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid black;
  
}

.poke-img {
  text-align: center;
  margin: 0 auto;
}

.poke-name, .poke-num {
  text-decoration: none;
}

.btn {
  width: 100%;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;

}

.card:hover{
  transform: scale(1.1);
  margin-top: 10px;
}

.main-pic {
  /* width: 50%;
  height: 50%; */
}