html{
  background: lightgray;
}

.app-div{
  background: lightgray;
}

body {
  /* background-image: url(/src/imgs/attempt2.jpg); */
  background: lightgray;
  user-select: none;
}

button {
  display: block;
  width: 50%;
  margin: auto;
}

.pokeList {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-gap: 5px; */
  /* justify-items: center; */
  /* background: paleturquoise; */
}
.poke-entry {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  
}

.poke-img {
  text-align: center;
  margin: 0 auto;
}

.poke-name, .poke-num {
  text-decoration: none;
}

.btn {
  width: 100%;
}

.poke-list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.poke-list:hover{
  transform: scale(1.1);
  margin-top: 10px;
}

.card, .center-div {
  margin: 2rem auto;
}

.spinner {
  text-align: center;
  margin: 0 auto;
}

.locations {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.dmg-relations{
  display: flex;
  flex-direction: row;
}

.relation {
  margin: 10px;
}



.location{
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.login {
  width: 40rem;
  margin: 20px auto;
}

.pokesearch {
  grid-row: 2;
  /* max-width: 35%; */
  text-align: center;
}

.search {
  display: grid;
  grid-template-rows: 1rem, 1rem;
  margin: 0 auto;
  max-width: 35%;
}

.fav-poke{
  display: flex;
  flex-wrap: wrap;
}

.bold{
  font-weight: bold;
  text-decoration: none;
}

.type, .ability{
  text-decoration: underline;
}

.ability-title, .center-div, .move-title {
  text-align: center;
}

.poke-moves{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  /* margin-top: 2rem; */

}

.move-list-on-pokemon{
  width: 18rem;
  text-align: center;
  margin-top: 2rem;
  justify-content: space-between;
}

.full-size-move{
  height: 100%;
}

.white-text{
  color: white;
  text-align: center;
}

.all-abilities{
  display: flex;
  flex-wrap: wrap;
}

.single-ability{
  width: 12rem;
  height: 4rem;
  text-align: center;
  justify-content: space-evenly;
}

.single-move{
  width: 12rem;
  text-align: center;
  height: 4rem;
  justify-content: space-evenly;
}

.ability-descriptor{
  height: 3rem;
  text-align: center;
  padding: .7rem 0;
  color: white;
}

.big-descriptor{
  color: white;
  text-align: center;
  padding: 1rem 0;
}
